<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>uni-app 的总结(位置) - Blog - 努力的人生</title>
	<meta name="description" content="uni-app 的总结">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	<link rel="shortcut icon" href="/assets/img/blog.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/assets/img/blog.ico">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/blog.ico">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/blog.ico">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#311e3e">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#311e3e">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
	
	
	
	
	<!-- Google Fonts 1
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">-->
	
	
	
	
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css">
	<!-- Styles -->
	<link rel="stylesheet" href="/assets/css/main.css">

	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>  
	
	<!--百度统计-->
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?660ee541ef48f4a94f8a59dd0f9e64ae";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
	
	
	
	
	
	
	
	<!--谷歌统计-->
	<!-- Global site tag (gtag.js) - Google Analytics 
	<script async src="https://www.googletagmanager.com/gtag/js?id="></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', '');
	</script>-->

</head>

<body>
  <div class="flex-container">
  <header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
      <nav class="main-nav">
        <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
        <!--<ul style="height:800px;overflow-y:scroll;overflow-y:auto;"> -->
        <ul>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/"  data-hover="所有">所有(83)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/markdown"  data-hover="Markdown">Markdown(4)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/essays"  data-hover="随笔">随笔(7)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/jekyll"  data-hover="Jekyll">Jekyll(1)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/vue"  data-hover="Vue">Vue(4)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/react"  data-hover="React">React(2)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/anglur"  data-hover="Anglur">Anglur(1)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/youman"  data-hover="构建工具">构建工具(7)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/nginx2"  data-hover="Nginx2">Nginx2(1)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/python"  data-hover="Python">Python(2)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/abouttest"  data-hover="测试相关">测试相关(6)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/aboutweb"  data-hover="前端相关">前端相关(20)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/wechat"  data-hover="Wechat">Wechat(21)</a></li>
		 
			 
			 

			 

			 

			 

			 

       

       

       

       

       

       

       

       

       
       
			 <li><a  href="/blog/other"  data-hover="其它">其它(7)</a></li>
		 
          <!--<li style="margin-bottom:200px;"><a href="/about">About(7)</a></li>-->
        </ul>
      </nav>
      <p class="logo"><a href="/">nldrs</a></p>


		<div class="navbar-container">

		<div class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></div>

			<div class="navbar-menu">
			   
				<a href="/"  data-hover="Home">Home</a>  <!--title="访问 Home"-->
				<!--<a href="/">Home</a>-->
					
				<a href="/about"  data-hover="About">About</a>  <!--title="访问 About"-->
				<!--<a href="/about">About</a>-->
					
			</div>


			<div class="navbar-mobile-menu" onclick="">
				<span class="icon-menu cross"><span class="middle"></span></span>
				<ul>
				   
					 <li><a href="/"data-hover="Home">Home</a></li>  <!--title="访问 Home"-->
					 <!--<li><a href="/">Home</a></li>-->
				   
					 <li><a href="/about"data-hover="About">About</a></li>  <!--title="访问 About"-->
					 <!--<li><a href="/about">About</a></li>-->
				   
				</ul>
			</div>



		</div>

    <!--  <div class="search-icon-container">
	    <a href="/" style="text-decoration: none; color: inherit;margin-right:20px;">Home</a>
		<a href="/about" style=" text-decoration: none; color: inherit;margin-right:20px;">About</a>
        <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
      </div> -->


    </div>
  </div>
</header> <!-- End Header -->

  <article class="article-page">
    <div class="page-image">
      <div class="cover-image" style="background: url(/assets/img/lpf-48.jpg) center no-repeat; background-size: cover;"></div>
    </div>
    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title">uni-app 的总结(位置)</h1>
          <div class="page-date"><time datetime="2018-09-17 20:16:00 +0800">2018, Sep 17</time>
		  <span id="busuanzi_container_page_pv"> | 访问量：<span id="busuanzi_value_page_pv"></span> 次</span>
		  </div>
        </div>
        <h2 id="uni-app-的总结开始的项目中可能用到的模块">uni-app 的总结(开始的项目中可能用到的模块)</h2>

<h1 id="位置">位置</h1>

<h2 id="unigetlocationobject">uni.getLocation(OBJECT)</h2>

<p>获取当前的地理位置、速度。 在微信小程序中，当用户离开应用后，此接口无法调用；当用户点击“显示在聊天顶部”时，此接口可继续调用。</p>

<h3 id="object-参数说明">OBJECT 参数说明</h3>

<table>
  <thead>
    <tr>
      <th style="text-align: left">参数名</th>
      <th style="text-align: left">类型</th>
      <th style="text-align: left">必填</th>
      <th style="text-align: left">说明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">type</td>
      <td style="text-align: left">String</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">默认为 wgs84 返回 gps 坐标，gcj02 返回国测局坐标，可用于 uni.openLocation 的坐标</td>
    </tr>
    <tr>
      <td style="text-align: left">altitude</td>
      <td style="text-align: left">Boolean</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">传入 true 会返回高度信息，由于获取高度需要较高精确度，会减慢接口返回速度</td>
    </tr>
    <tr>
      <td style="text-align: left">success</td>
      <td style="text-align: left">Function</td>
      <td style="text-align: left">是</td>
      <td style="text-align: left">接口调用成功的回调函数，返回内容详见返回参数说明。</td>
    </tr>
    <tr>
      <td style="text-align: left">fail</td>
      <td style="text-align: left">Function</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">接口调用失败的回调函数</td>
    </tr>
    <tr>
      <td style="text-align: left">complete</td>
      <td style="text-align: left">Function</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">接口调用结束的回调函数（调用成功、失败都会执行）</td>
    </tr>
  </tbody>
</table>

<h3 id="success-返回参数说明">success 返回参数说明</h3>

<table>
  <thead>
    <tr>
      <th style="text-align: left">参数</th>
      <th style="text-align: left">说明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">latitude</td>
      <td style="text-align: left">纬度，浮点数，范围为-90~90，负数表示南纬</td>
    </tr>
    <tr>
      <td style="text-align: left">longitude</td>
      <td style="text-align: left">经度，浮点数，范围为-180~180，负数表示西经</td>
    </tr>
    <tr>
      <td style="text-align: left">speed</td>
      <td style="text-align: left">速度，浮点数，单位m/s</td>
    </tr>
    <tr>
      <td style="text-align: left">accuracy</td>
      <td style="text-align: left">位置的精确度</td>
    </tr>
    <tr>
      <td style="text-align: left">altitude</td>
      <td style="text-align: left">高度，单位 m</td>
    </tr>
    <tr>
      <td style="text-align: left">verticalAccuracy</td>
      <td style="text-align: left">垂直精度，单位 m（Android 无法获取，返回 0）</td>
    </tr>
    <tr>
      <td style="text-align: left">horizontalAccuracy</td>
      <td style="text-align: left">水平精度，单位 m</td>
    </tr>
  </tbody>
</table>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="nx">uni</span><span class="p">.</span><span class="nx">getLocation</span><span class="p">({</span>
    <span class="na">type</span><span class="p">:</span> <span class="s1">'wgs84'</span><span class="p">,</span>
    <span class="na">success</span><span class="p">:</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'当前位置的经度：'</span> <span class="o">+</span> <span class="nx">res</span><span class="p">.</span><span class="nx">longitude</span><span class="p">);</span>
        <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'当前位置的纬度：'</span> <span class="o">+</span> <span class="nx">res</span><span class="p">.</span><span class="nx">latitude</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">});</span>
</code></pre></div></div>

<p>Tips</p>

<p><code class="highlighter-rouge">&lt;map&gt; 组件默认为国测局坐标，调用 uni.getLocation 返回结果传递给 &lt;map&gt; 组件时，需指定 type 为 gcj02。</code></p>

<h2 id="unichooselocationobject">uni.chooseLocation(OBJECT)</h2>

<p>1.打开地图选择位置。</p>

<p>OBJECT 参数说明</p>

<table>
  <thead>
    <tr>
      <th style="text-align: left">参数名</th>
      <th style="text-align: left">类型</th>
      <th style="text-align: left">必填</th>
      <th style="text-align: left">说明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">success</td>
      <td style="text-align: left">Function</td>
      <td style="text-align: left">是</td>
      <td style="text-align: left">接口调用成功的回调函数，返回内容详见返回参数说明。</td>
    </tr>
    <tr>
      <td style="text-align: left">fail</td>
      <td style="text-align: left">Function</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">接口调用失败的回调函数</td>
    </tr>
    <tr>
      <td style="text-align: left">complete</td>
      <td style="text-align: left">Function</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">接口调用结束的回调函数（调用成功、失败都会执行）</td>
    </tr>
  </tbody>
</table>

<p>success 返回参数说明</p>

<table>
  <thead>
    <tr>
      <th style="text-align: left">参数</th>
      <th style="text-align: left">说明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">name</td>
      <td style="text-align: left">位置名称</td>
    </tr>
    <tr>
      <td style="text-align: left">address</td>
      <td style="text-align: left">详细地址</td>
    </tr>
    <tr>
      <td style="text-align: left">latitude</td>
      <td style="text-align: left">纬度，浮点数，范围为-90~90，负数表示南纬</td>
    </tr>
    <tr>
      <td style="text-align: left">longitude</td>
      <td style="text-align: left">经度，浮点数，范围为-180~180，负数表示西经</td>
    </tr>
  </tbody>
</table>

<h5 id="参考实例">参考实例</h5>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">uni</span><span class="p">.</span><span class="nx">chooseLocation</span><span class="p">({</span>
    <span class="na">success</span><span class="p">:</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'位置名称：'</span> <span class="o">+</span> <span class="nx">res</span><span class="p">.</span><span class="nx">name</span><span class="p">);</span>
        <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'详细地址：'</span> <span class="o">+</span> <span class="nx">res</span><span class="p">.</span><span class="nx">address</span><span class="p">);</span>
        <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'纬度：'</span> <span class="o">+</span> <span class="nx">res</span><span class="p">.</span><span class="nx">latitude</span><span class="p">);</span>
        <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'经度：'</span> <span class="o">+</span> <span class="nx">res</span><span class="p">.</span><span class="nx">longitude</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">});</span>
</code></pre></div></div>

<h2 id="uniopenlocationobject">uni.openLocation(OBJECT)</h2>

<p>使用应用内置地图查看位置。</p>

<p>OBJECT 参数说明</p>

<table>
  <thead>
    <tr>
      <th style="text-align: left">参数名</th>
      <th style="text-align: left">类型</th>
      <th style="text-align: left">必填</th>
      <th style="text-align: left">说明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">latitude</td>
      <td style="text-align: left">Float</td>
      <td style="text-align: left">是</td>
      <td style="text-align: left">纬度，范围为-90~90，负数表示南纬</td>
    </tr>
    <tr>
      <td style="text-align: left">longitude</td>
      <td style="text-align: left">Float</td>
      <td style="text-align: left">是</td>
      <td style="text-align: left">经度，范围为-180~180，负数表示西经</td>
    </tr>
    <tr>
      <td style="text-align: left">scale</td>
      <td style="text-align: left">INT</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">缩放比例，范围5~18，默认为18</td>
    </tr>
    <tr>
      <td style="text-align: left">name</td>
      <td style="text-align: left">String</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">位置名</td>
    </tr>
    <tr>
      <td style="text-align: left">address</td>
      <td style="text-align: left">String</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">地址的详细说明</td>
    </tr>
    <tr>
      <td style="text-align: left">success</td>
      <td style="text-align: left">Function</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">接口调用成功的回调函数</td>
    </tr>
    <tr>
      <td style="text-align: left">fail</td>
      <td style="text-align: left">Function</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">接口调用失败的回调函数</td>
    </tr>
    <tr>
      <td style="text-align: left">complete</td>
      <td style="text-align: left">Function</td>
      <td style="text-align: left">否</td>
      <td style="text-align: left">接口调用结束的回调函数（调用成功、失败都会执行）</td>
    </tr>
  </tbody>
</table>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
<span class="err">#####</span> <span class="err">参考实例</span>

<span class="nx">uni</span><span class="p">.</span><span class="nx">getLocation</span><span class="p">({</span>
    <span class="na">type</span><span class="p">:</span> <span class="s1">'gcj02'</span><span class="p">,</span> <span class="c1">//返回可以用于uni.openLocation的经纬度</span>
    <span class="na">success</span><span class="p">:</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">res</span><span class="p">)</span> <span class="p">{</span>
        <span class="kd">const</span> <span class="nx">latitude</span> <span class="o">=</span> <span class="nx">res</span><span class="p">.</span><span class="nx">latitude</span><span class="p">;</span>
        <span class="kd">const</span> <span class="nx">longitude</span> <span class="o">=</span> <span class="nx">res</span><span class="p">.</span><span class="nx">longitude</span><span class="p">;</span>
        <span class="nx">uni</span><span class="p">.</span><span class="nx">openLocation</span><span class="p">({</span>
            <span class="na">latitude</span><span class="p">:</span> <span class="nx">latitude</span><span class="p">,</span>
            <span class="na">longitude</span><span class="p">:</span> <span class="nx">longitude</span><span class="p">,</span>
            <span class="na">success</span><span class="p">:</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
                <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'success'</span><span class="p">);</span>
            <span class="p">}</span>
        <span class="p">});</span>
    <span class="p">}</span>
<span class="p">});</span>
</code></pre></div></div>

<h3 id="官方实例1-获取位置">官方实例1 (获取位置)</h3>

<hr />

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;template&gt;</span>
	<span class="nt">&lt;view&gt;</span>
		<span class="nt">&lt;page-head</span> <span class="na">:title=</span><span class="s">"title"</span><span class="nt">&gt;&lt;/page-head&gt;</span>
		<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-body"</span><span class="nt">&gt;</span>
			<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-section"</span><span class="nt">&gt;</span>
				<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-body-info"</span><span class="nt">&gt;</span>
					<span class="nt">&lt;text</span> <span class="na">class=</span><span class="s">"page-body-text-small"</span><span class="nt">&gt;</span>当前位置经纬度<span class="nt">&lt;/text&gt;</span>
					<span class="nt">&lt;block</span> <span class="na">v-if=</span><span class="s">"hasLocation === false"</span><span class="nt">&gt;</span>
						<span class="nt">&lt;text</span> <span class="na">class=</span><span class="s">"page-body-text"</span><span class="nt">&gt;</span>未获取<span class="nt">&lt;/text&gt;</span>
					<span class="nt">&lt;/block&gt;</span>
					<span class="nt">&lt;block</span> <span class="na">v-if=</span><span class="s">"hasLocation === true"</span><span class="nt">&gt;</span>
						<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-body-text-location"</span><span class="nt">&gt;</span>
							<span class="nt">&lt;text&gt;</span>E: °′<span class="nt">&lt;/text&gt;</span>
							<span class="nt">&lt;text&gt;</span>N: °′<span class="nt">&lt;/text&gt;</span>
						<span class="nt">&lt;/view&gt;</span>
					<span class="nt">&lt;/block&gt;</span>
				<span class="nt">&lt;/view&gt;</span>
				<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"btn-area"</span><span class="nt">&gt;</span>
					<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"primary"</span> <span class="err">@</span><span class="na">tap=</span><span class="s">"getLocation"</span><span class="nt">&gt;</span>获取位置<span class="nt">&lt;/button&gt;</span>
					<span class="nt">&lt;button</span> <span class="err">@</span><span class="na">tap=</span><span class="s">"clear"</span><span class="nt">&gt;</span>清空<span class="nt">&lt;/button&gt;</span>
				<span class="nt">&lt;/view&gt;</span>
			<span class="nt">&lt;/view&gt;</span>
		<span class="nt">&lt;/view&gt;</span>
	<span class="nt">&lt;/view&gt;</span>
<span class="nt">&lt;/template&gt;</span>
</code></pre></div></div>
<p><code class="highlighter-rouge">逻辑层</code></p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">export</span> <span class="k">default</span> <span class="p">{</span>
		<span class="nx">data</span><span class="p">()</span> <span class="p">{</span>
			<span class="k">return</span> <span class="p">{</span>
				<span class="na">title</span><span class="p">:</span> <span class="s1">'getLocation'</span><span class="p">,</span>
				<span class="na">hasLocation</span><span class="p">:</span> <span class="kc">false</span><span class="p">,</span>
				<span class="na">location</span><span class="p">:</span> <span class="p">{}</span>
			<span class="p">}</span>
		<span class="p">},</span>
		<span class="na">methods</span><span class="p">:</span> <span class="p">{</span>
			<span class="na">getLocation</span><span class="p">:</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
				<span class="nx">uni</span><span class="p">.</span><span class="nx">getLocation</span><span class="p">({</span>
					<span class="na">success</span><span class="p">:</span> <span class="p">(</span><span class="nx">res</span><span class="p">)</span> <span class="o">=&gt;</span> <span class="p">{</span>
						<span class="k">this</span><span class="p">.</span><span class="nx">hasLocation</span> <span class="o">=</span> <span class="kc">true</span><span class="p">,</span>
							<span class="k">this</span><span class="p">.</span><span class="nx">location</span> <span class="o">=</span> <span class="nx">formatLocation</span><span class="p">(</span><span class="nx">res</span><span class="p">.</span><span class="nx">longitude</span><span class="p">,</span> <span class="nx">res</span><span class="p">.</span><span class="nx">latitude</span><span class="p">)</span>
					<span class="p">}</span>
				<span class="p">})</span>
			<span class="p">},</span>
			<span class="na">clear</span><span class="p">:</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
				<span class="k">this</span><span class="p">.</span><span class="nx">hasLocation</span> <span class="o">=</span> <span class="kc">false</span>
			<span class="p">}</span>
		<span class="p">},</span>
		<span class="na">components</span><span class="p">:</span> <span class="p">{</span>
			<span class="nx">pageHead</span>

		<span class="p">}</span>
	<span class="p">}</span>
</code></pre></div></div>

<h3 id="官方实例2-查看位置">官方实例2 (查看位置)</h3>

<hr />

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;template&gt;</span>
	<span class="nt">&lt;view&gt;</span>
		<span class="nt">&lt;page-head</span> <span class="na">:title=</span><span class="s">"title"</span><span class="nt">&gt;&lt;/page-head&gt;</span>
		<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-body"</span><span class="nt">&gt;</span>
			<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-section"</span><span class="nt">&gt;</span>
				<span class="nt">&lt;form</span> <span class="err">@</span><span class="na">submit=</span><span class="s">"openLocation"</span><span class="nt">&gt;</span>
					<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list"</span><span class="nt">&gt;</span>
						<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell"</span><span class="nt">&gt;</span>
							<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell-left"</span><span class="nt">&gt;</span>
								<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-label"</span><span class="nt">&gt;</span>经度<span class="nt">&lt;/view&gt;</span>
							<span class="nt">&lt;/view&gt;</span>
							<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell-db"</span><span class="nt">&gt;</span>
								<span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"uni-input"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">:disabled=</span><span class="s">"true"</span> <span class="na">value=</span><span class="s">"116.39742"</span> <span class="na">name=</span><span class="s">"longitude"</span><span class="nt">&gt;&lt;/input&gt;</span>
							<span class="nt">&lt;/view&gt;</span>
						<span class="nt">&lt;/view&gt;</span>
						<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell"</span><span class="nt">&gt;</span>
							<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell-left"</span><span class="nt">&gt;</span>
								<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-label"</span><span class="nt">&gt;</span>纬度<span class="nt">&lt;/view&gt;</span>
							<span class="nt">&lt;/view&gt;</span>
							<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell-db"</span><span class="nt">&gt;</span>
								<span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"uni-input"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">:disabled=</span><span class="s">"true"</span> <span class="na">value=</span><span class="s">"39.909"</span> <span class="na">name=</span><span class="s">"latitude"</span><span class="nt">&gt;&lt;/input&gt;</span>
							<span class="nt">&lt;/view&gt;</span>
						<span class="nt">&lt;/view&gt;</span>
						<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell"</span><span class="nt">&gt;</span>
							<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell-left"</span><span class="nt">&gt;</span>
								<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-label"</span><span class="nt">&gt;</span>位置名称<span class="nt">&lt;/view&gt;</span>
							<span class="nt">&lt;/view&gt;</span>
							<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell-db"</span><span class="nt">&gt;</span>
								<span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"uni-input"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">:disabled=</span><span class="s">"true"</span> <span class="na">value=</span><span class="s">"天安门"</span> <span class="na">name=</span><span class="s">"name"</span><span class="nt">&gt;&lt;/input&gt;</span>
							<span class="nt">&lt;/view&gt;</span>
						<span class="nt">&lt;/view&gt;</span>
						<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell"</span><span class="nt">&gt;</span>
							<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell-left"</span><span class="nt">&gt;</span>
								<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-label"</span><span class="nt">&gt;</span>详细位置<span class="nt">&lt;/view&gt;</span>
							<span class="nt">&lt;/view&gt;</span>
							<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"uni-list-cell-db"</span><span class="nt">&gt;</span>
								<span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"uni-input"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">:disabled=</span><span class="s">"true"</span> <span class="na">value=</span><span class="s">"北京市东城区东长安街"</span> <span class="na">name=</span><span class="s">"address"</span><span class="nt">&gt;&lt;/input&gt;</span>
							<span class="nt">&lt;/view&gt;</span>
						<span class="nt">&lt;/view&gt;</span>
					<span class="nt">&lt;/view&gt;</span>
					<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"btn-area"</span><span class="nt">&gt;</span>
						<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"primary"</span> <span class="na">formType=</span><span class="s">"submit"</span><span class="nt">&gt;</span>查看位置<span class="nt">&lt;/button&gt;</span>
					<span class="nt">&lt;/view&gt;</span>
				<span class="nt">&lt;/form&gt;</span>
			<span class="nt">&lt;/view&gt;</span>
		<span class="nt">&lt;/view&gt;</span>
	<span class="nt">&lt;/view&gt;</span>
<span class="nt">&lt;/template&gt;</span>
</code></pre></div></div>

<p><code class="highlighter-rouge">逻辑层</code></p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">export</span> <span class="k">default</span> <span class="p">{</span>
		<span class="nx">data</span><span class="p">()</span> <span class="p">{</span>
			<span class="k">return</span> <span class="p">{</span>
				<span class="na">title</span><span class="p">:</span> <span class="s1">'openLocation'</span>
			<span class="p">}</span>
		<span class="p">},</span>
		<span class="na">methods</span><span class="p">:</span> <span class="p">{</span>
			<span class="na">openLocation</span><span class="p">:</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">e</span><span class="p">)</span> <span class="p">{</span>
				<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">e</span><span class="p">)</span>
				<span class="kd">var</span> <span class="nx">value</span> <span class="o">=</span> <span class="nx">e</span><span class="p">.</span><span class="nx">target</span><span class="p">.</span><span class="nx">value</span>
				<span class="nx">uni</span><span class="p">.</span><span class="nx">openLocation</span><span class="p">({</span>
					<span class="na">longitude</span><span class="p">:</span> <span class="nb">Number</span><span class="p">(</span><span class="nx">value</span><span class="p">.</span><span class="nx">longitude</span><span class="p">),</span>
					<span class="na">latitude</span><span class="p">:</span> <span class="nb">Number</span><span class="p">(</span><span class="nx">value</span><span class="p">.</span><span class="nx">latitude</span><span class="p">),</span>
					<span class="na">name</span><span class="p">:</span> <span class="nx">value</span><span class="p">.</span><span class="nx">name</span><span class="p">,</span>
					<span class="na">address</span><span class="p">:</span> <span class="nx">value</span><span class="p">.</span><span class="nx">address</span>
				<span class="p">})</span>
			<span class="p">}</span>
		<span class="p">},</span>
		<span class="na">components</span><span class="p">:</span> <span class="p">{</span>
			<span class="nx">pageHead</span>

		<span class="p">}</span>
	<span class="p">}</span>
</code></pre></div></div>

<h3 id="官方实例3-使用地图选择位置">官方实例3 (使用地图选择位置)</h3>

<hr />

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;template&gt;</span>
	<span class="nt">&lt;view&gt;</span>
		<span class="nt">&lt;page-head</span> <span class="na">:title=</span><span class="s">"title"</span><span class="nt">&gt;&lt;/page-head&gt;</span>
		<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-body"</span><span class="nt">&gt;</span>
			<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-section"</span><span class="nt">&gt;</span>
				<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-body-info"</span><span class="nt">&gt;</span>
					<span class="nt">&lt;text</span> <span class="na">class=</span><span class="s">"page-body-text-small"</span><span class="nt">&gt;</span>当前位置信息<span class="nt">&lt;/text&gt;</span>
					<span class="nt">&lt;block</span> <span class="na">v-if=</span><span class="s">"hasLocation === false"</span><span class="nt">&gt;</span>
						<span class="nt">&lt;text</span> <span class="na">class=</span><span class="s">"page-body-text"</span><span class="nt">&gt;</span>未选择位置<span class="nt">&lt;/text&gt;</span>
					<span class="nt">&lt;/block&gt;</span>
					<span class="nt">&lt;block</span> <span class="na">v-if=</span><span class="s">"hasLocation === true"</span><span class="nt">&gt;</span>
						<span class="nt">&lt;text</span> <span class="na">class=</span><span class="s">"page-body-text"</span><span class="nt">&gt;&lt;/text&gt;</span>
						<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"page-body-text-location"</span><span class="nt">&gt;</span>
							<span class="nt">&lt;text&gt;</span>E: °′<span class="nt">&lt;/text&gt;</span>
							<span class="nt">&lt;text&gt;</span>N: °′<span class="nt">&lt;/text&gt;</span>
						<span class="nt">&lt;/view&gt;</span>
					<span class="nt">&lt;/block&gt;</span>
				<span class="nt">&lt;/view&gt;</span>
				<span class="nt">&lt;view</span> <span class="na">class=</span><span class="s">"btn-area"</span><span class="nt">&gt;</span>
					<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"primary"</span> <span class="err">@</span><span class="na">tap=</span><span class="s">"chooseLocation"</span><span class="nt">&gt;</span>选择位置<span class="nt">&lt;/button&gt;</span>
					<span class="nt">&lt;button</span> <span class="err">@</span><span class="na">tap=</span><span class="s">"clear"</span><span class="nt">&gt;</span>清空<span class="nt">&lt;/button&gt;</span>
				<span class="nt">&lt;/view&gt;</span>
			<span class="nt">&lt;/view&gt;</span>
		<span class="nt">&lt;/view&gt;</span>
	<span class="nt">&lt;/view&gt;</span>
<span class="nt">&lt;/template&gt;</span>
</code></pre></div></div>

<p><code class="highlighter-rouge">逻辑层</code></p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">export</span> <span class="k">default</span> <span class="p">{</span>
		<span class="nx">data</span><span class="p">()</span> <span class="p">{</span>
			<span class="k">return</span> <span class="p">{</span>
				<span class="na">title</span><span class="p">:</span> <span class="s1">'chooseLocation'</span><span class="p">,</span>
				<span class="na">hasLocation</span><span class="p">:</span> <span class="kc">false</span><span class="p">,</span>
				<span class="na">location</span><span class="p">:</span> <span class="p">{},</span>
				<span class="na">locationAddress</span><span class="p">:</span> <span class="s1">''</span>
			<span class="p">}</span>
		<span class="p">},</span>
		<span class="na">methods</span><span class="p">:</span> <span class="p">{</span>
			<span class="na">chooseLocation</span><span class="p">:</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
				<span class="nx">uni</span><span class="p">.</span><span class="nx">chooseLocation</span><span class="p">({</span>
					<span class="na">success</span><span class="p">:</span> <span class="p">(</span><span class="nx">res</span><span class="p">)</span> <span class="o">=&gt;</span> <span class="p">{</span>
						<span class="k">this</span><span class="p">.</span><span class="nx">hasLocation</span> <span class="o">=</span> <span class="kc">true</span><span class="p">,</span>
							<span class="k">this</span><span class="p">.</span><span class="nx">location</span> <span class="o">=</span> <span class="nx">formatLocation</span><span class="p">(</span><span class="nx">res</span><span class="p">.</span><span class="nx">longitude</span><span class="p">,</span> <span class="nx">res</span><span class="p">.</span><span class="nx">latitude</span><span class="p">),</span>
							<span class="k">this</span><span class="p">.</span><span class="nx">locationAddress</span> <span class="o">=</span> <span class="nx">res</span><span class="p">.</span><span class="nx">address</span>
					<span class="p">}</span>
				<span class="p">})</span>
			<span class="p">},</span>
			<span class="na">clear</span><span class="p">:</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
				<span class="k">this</span><span class="p">.</span><span class="nx">hasLocation</span> <span class="o">=</span> <span class="kc">false</span>
			<span class="p">}</span>
		<span class="p">},</span>
		<span class="na">components</span><span class="p">:</span> <span class="p">{</span>
			<span class="nx">pageHead</span>

		<span class="p">}</span>
	<span class="p">}</span>
</code></pre></div></div>

        <div class="page-footer">
          <div class="page-tag">
            <span>Tags:</span>
            
            <a href="/tags#构建工具" class="tag">| 构建工具</a>
            
            <a href="/tags#uniapp" class="tag">| uniapp</a>
            
          </div><!-- End Tags -->
          <div class="page-share">
            <span>Share:</span>
            <a href="https://twitter.com/intent/tweet?text=uni-app 的总结(位置)&url=http://localhost:4000/uniapp4/" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://facebook.com/sharer.php?u=http://localhost:4000/uniapp4/" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/share?url=http://localhost:4000/uniapp4/" title="Share on Google+" rel="nofollow" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
						
			<!-- JiaThis Button BEGIN -->
			<div class="jiathis_style_32x32">
				<a class="jiathis_button_weixin"></a>
				<a class="jiathis_button_tsina"></a>
				<!--<a class="jiathis_button_tqq"></a>
				<a class="jiathis_button_qzone"></a>
				<a class="jiathis_button_renren"></a>-->
				<a href="http://www.jiathis.com/share?uid=2157296" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
				<a class="jiathis_counter_style"></a>
			</div>
			<script type="text/javascript">var jiathis_config = {data_track_clickback:'true'};</script>
			<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2157296" charset="utf-8"></script>
			<!-- JiaThis Button END -->
          </div><!-- End Share -->
		  
		
		  
		  <section>
			<!--<div style="background:#000;border-bottom: 1px solid #d9d9d9;"></div> -->

            <div class="content-play">
              <p><a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="打赏，支持一下">打赏一下呗</a></p>
              <div class="hide_box-play"></div>
              <div class="shang_box-play">
                <a class="shang_close-play" href="javascript:void(0)" onclick="dashangToggle()" title="关闭"><img src="/assets/img/close.jpg" alt="取消" /></a>
                <div class="shang_tit-play">
                  <p>对你有帮助，那就打赏一下吧</p>
                </div>
				
				<div class="shang_payimg">    
                    <img src="/assets/img/wechatimg.jpg" alt="扫码支持" title="扫一扫"/>
                </div>
				
				 <div class="pay_item" data-id="weipay">
                    <span class="pay_logo"><img src="/assets/img/wechat.jpg" alt="微信" /></span>
                  </div>
				
                <div class="shang_payimg">
                    <img src="/assets/img/alipayimg.jpg" alt="扫码支持" title="扫一扫" />
                </div>
				
				 <div class="pay_item checked" data-id="alipay">
                    <span class="pay_logo"><img src="/assets/img/alipay.jpg" alt="支付宝" /></span>
                  </div>
				
                <div class="pay_explain">扫码打赏,金额随意</div>
               
              </div>
            </div>
            <script type="text/javascript">
            function dashangToggle(){
              $(".hide_box-play").fadeToggle();
              $(".shang_box-play").fadeToggle();
            }
            </script>

            <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';"></div>

            <style type="text/css">
              .content-play{width:100%;margin-top: 20px;margin-bottom: 10px;height:40px;text-align:center;}
              .hide_box-play{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
              .shang_box-play{width:100%;height:540px;padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:0%;top:50%;margin-left:0px;margin-top:-280px;border:1px dotted #dedede;display:none;}
              .shang_box-play img{border:none;border-width:0;}
              .dashang{width:100px;margin:5px auto;height:25px;line-height:25px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;transition: all 0.3s;}
              .dashang:hover{opacity:0.8;padding:15px;font-size:18px;}
              .shang_close-play{float:right;display:inline-block;
                margin-right: 10px;margin-top: 20px;
              }
              .shang_logo{display:block;text-align:center;margin:20px auto;}
              .shang_tit-play{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background: url('/images/payimg/cy-reward-title-bg.jpg');font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
              .shang_tit-play p{color:#a3a3a3;text-align:center;font-size:16px;}
              .shang_payimg{padding:10px;/*border:6px solid #EA5F00;**/margin:0 auto;border-radius:3px;height:140px;display:inline-block;}
              .shang_payimg img{display:inline-block;margin-right:10px;float:left;text-align:center;width:140px;height:140px; }
              .pay_explain{text-align:center;margin:10px auto;font-size:12px;color:#545454;}
              .shang_payselect{text-align:center;margin:0 auto;margin-top:40px;cursor:pointer;height:60px;width:500px;margin-left:110px;}
              .shang_payselect .pay_item{display:inline-block;margin-right:140px;float:left;}
              .shang_info-play{clear:both;}
              .shang_info-play p,.shang_info-play a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}
            </style>

       <ul class="pager">
	    
        <li class="previous">
            <a href="/mondb/" data-toggle="tooltip" data-placement="top" title="mongoDB数据库的方法">上一篇：  <span>mongoDB数据库的方法</span>
            </a>
        </li>
		
		<br><br>
		
        
        
        <li class="next">
            <a href="/promise/" data-toggle="tooltip" data-placement="top" title="promise">下一篇：  <span>promise</span>
            </a>
        </li>
        
    </ul>
</section>

        </div>
		
		
        <section class="author-box">
  <img src="/assets/img/leach-face.jpg" alt="nldrs" class="author-img">
  <div class="author-desc">
    <h2>nldrs</h2>
    <p>码农，嘿说你呢！！？</p>
    <ul>
      
        <li class="email"><a href="mailto:lpfwch777@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
      
      
        <li class="phone"><a href="tel:0"><i class="fa fa-phone"></i></a></li>
      
      <!--
        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      
      
        <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      -->
    </ul>
  </div>
</section>

        <div class="recent-box">
  <h2 class="recent-title">Recent post</h2>
  <div class="recent-list">
    
      
        <a href="/mysql/" class="recent-item" style="background: url(/assets/img/lpf-16.jpg) center no-repeat; background-size: cover;"><span>mysql 学习视图</span></a>
      
    
      
        <a href="/work/" class="recent-item" style="background: url(/assets/img/wch8.jpg) center no-repeat; background-size: cover;"><span>十一回来上班的第一天</span></a>
      
    
      
        <a href="/mysql/" class="recent-item" style="background: url(/assets/img/lpf-15.jpg) center no-repeat; background-size: cover;"><span>mysql 学习连表查询</span></a>
      
    
      
        <a href="/mysql/" class="recent-item" style="background: url(/assets/img/lpf-14.jpg) center no-repeat; background-size: cover;"><span>mysql 学习</span></a>
      
    
  </div>
</div> <!-- End Recent-Box -->

        <div class="newsletter" id="mc_embed_signup" style="display:none">
  <h2 class="newsletter-title">Newsletter</h2>
  <div class="form-container">
    <p>Subscribe here to get our latest updates</p>
    <form action="//" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label class="screen-reader-text" for="mce-EMAIL">Email Address</label>
      <div class="newsletter-box" id="mc_embed_signup_scroll">
        <input type="email" name="EMAIL" placeholder="Email address" class="email-input" id="mce-EMAIL" required>
        <input type="submit" value="Subscribe" name="subscribe" class="subscribe-btn" id="mc-embedded-subscribe">
      </div>
    </form>
  </div>
</div> <!-- End Newsletter -->

        <section class="comment-area">
  <div class="comment-wrapper">
   
	  <div id="disqus_thread" class="article-comments"></div>
	    <script>
			var idcomments_acct = '8b1583de29c0b1f23510ee43fce7d4e7';
			var idcomments_post_id;
			var idcomments_post_url;
		</script>
		<span id="IDCommentsPostTitle" style="display:none"></span>
		<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
	
  </div>
</section>
      </div>
    </div> <!-- End Wrapper -->
  </article>
  <div class="search-box">
  <div class="wrapper">
    <div class="search-grid">
      <form class="search-form">
        <div id="search-container">
          <input type="text" id="search-input" class="search" placeholder="Search">
        </div>
      </form>
      <ul id="results-container" class="results-search"  style="height:400px;overflow-y:scroll;overflow-y:auto;"></ul>
      <div class="icon-close-container">
        <span class="search-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</div>

  <footer class="main-footer">
	<div class="footer-social">
		<div class="footer-container clearfix">
			<div class="social-list">
				<a class="social github" target="blank" href="https://github.com/nldrs">GitHub</a>
				<a class="social github" target="blank" href="https://www.jianshu.com/u/042fe873dc7c">简书</a>
				<a class="social github" target="blank" href="https://juejin.im/user/5a20a378f265da4311200031/collections">掘金</a>
				<a class="social github" target="blank" href="http://blog.csdn.net/">Csdn</a>
			</div>
		</div>
	</div>

	<div class="copyright">
		<p>2018 &copy; nldrs</p>
		
			
	<div style="font-size:12px;color:#B3B3B3;padding-right:30px;float:right"> 
		<iframe
                style="margin-left: 2px; margin-bottom:-5px;"
                frameborder="0" scrolling="0" width="91px" height="20px"
                src="https://ghbtns.com/github-btn.html?user=leach-chen&repo=leach-chen.github.io&type=star&count=true" >
            </iframe>
		<span id="busuanzi_container_site_pv">本站总访问量：<span id="busuanzi_value_site_pv"></span>次</span>
	</div>
	</div>

</footer> <!-- End Footer -->

</div>
  
  
<div class="top" title="Top"><i class="fa fa-chevron-up" aria-hidden="true"></i></div> <!-- End Top Scroll -->
  <!-- JS -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/jekyll-search.js"></script>
<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/search.json',
    searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a></li>',
    noResultsText: 'No results found',
    fuzzy: false,
    exclude: ['Welcome']
  });
</script>
<script src="/assets/js/main.js"></script>

  <!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '', 'auto');
  ga('send', 'pageview');
</script> <!-- End Analytics -->

</body>
</html>
